---
layout: none
---
<!doctype html>
<html class="no-js">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }}</title>
    <meta name="author" content="Louis-Olivier Brassard" />
    <meta name="description" property="og:description" content="{{ fr.site_description }} | {{ en.site_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>{{>landing.css }}</style>
    <link rel="shortcut icon" type="image/png" href="{{ baseurl }}/assets/img/favicon.png">
    <link rel="canonical" href="site.url/{{ baseurl }}">
    <meta name="application-name" content="{{ site.title }}" />
    <meta name="msapplication-TileColor" content="#000" />
    <meta name="msapplication-square150x150logo" content="{{ baseurl }}/assets/img/square.png" />
    <link rel="apple-touch-icon" href="{{ baseurl }}/assets/img/apple-touch-icon.png">
    <script>{{!>head.min.js }}</script>
  </head>
  <body>
    <header class="header--landing">
      <h1 class="title-primary">{{ site.title }}</h1>
      <h6 class="title-secondary">Compositrice et ondiste&nbsp;|&nbsp;Composer &amp; Ondes Martenot Performer</h6>
      <span class="icon icon-note-all deco-notes deco--top-right no-tablet"></span>
    </header>
    <div class="cover--landing" role="img"></div>
    <nav role="navigation" class="nav nav--lang tablet-text-center">
      <ul>
        <li class="col col-1 tablet-col-2">
          <a title="Français" lang="fr" href="{{ baseurl }}/fr/accueil/">Compositrice et ondiste</a></li>
        <li class="col col-1 tablet-col-2">
          <a title="English" lang="en" href="{{ baseurl }}/en/accueil/">Composer &amp; Ondist</a></li>
      </ul>
    </nav>
  </body>
</html>
