---
id: accueil

icon: home

title:
  fr: Accueil
  en: Home

subtitle:
  fr: Estelle Lemire, compositrice et ondiste
  en: Estelle Lemire, Composer & Ondist 

notes:
- id: 3
  position: "middle-left"

couverture: cvr1.jpg

lang: <%= language %>
---

{{#each images}}
{{#is url 'estelle-lemire.jpg'}}
<figure class="figure--img right col col-3 phone-col-6">
  <img src="{{ baseurl }}/assets/img/sm/{{ url }}" alt="{{getProp title ../../language }}">
  <figcaption class="figcaption--img">{{getProp comment ../../language }}</figcaption>
</figure>
{{/is}}
{{/each}}

{{i18n 'accueil_p1' }}

Estelle Lemire
