---
id: bio

icon: bio

title:
  fr: Curriculum vitæ
  en: Curriculum Vitaæ

subtitle:
  fr: Estelle Lemire, compositrice et ondiste
  en: Estelle Lemire, Composer & Ondist

notes:
- id: all
  position: "top-right"
- id: 8
  position: "bottom-left"

couverture: cvr2.jpg

lang: <%= language %>
---

{{i18n 'bio_p1' }}

{{#forEach images }}
{{#is url 'estelle-lemire-ondes-96-couleur.jpg' }}
<figure class="figure--img left col col-3 phone-col-6">
  <img src="{{ baseurl }}/assets/img/sm/{{ url }}" alt="{{getProp title ../../language }}">
  <figcaption class="figcaption--img">{{getProp comment ../../language }}</figcaption>
</figure>
{{/is}}
{{/forEach}}

{{i18n 'bio_p2' }}

{{i18n 'bio_p3' }}

{{i18n 'bio_p4' }}

{{i18n 'bio_p5' }}

### {{i18n 'discographie' }}

<ul class="list-unstyled">
{{#forEach discographie}}
<li class="reference row">
  <div class="col col-4 tablet-col-3 phone-full">
    <h4>{{ title }}</h4>
    <p>{{getProp description ../../language}}</p>
  </div>
  <div class="col right phone-full">
    <div class="discography-sprite" role="img" id="{{ albumId }}"></div>
  </div>
</li>
{{/forEach}}
</ul>

{{#is page.lang 'en'}}
**Translated by Marc Hyland**
{{/is}}
