---
id: contact
icon: e-mail
title:
  fr: Contact
  en: Contact
subtitle:
  fr: Estelle Lemire
  en: Estelle Lemire
notes:
  - id: all
    position: "top-right"
couverture: cvr10.jpg
lang: <%= language %>
---

{{i18n 'contact_p1' }}

<p class="text--showcase">{{ site.clientEmail }}</p>

{{i18n 'contact_p2' }}

{{i18n 'contact_p3' }}

{{i18n 'contact_p4' }}

{{i18n 'contact_p5' }}

<p class="text--showcase">{{ site.adminEmail }}</p>
