---
id: oeuvres-martenot

categories: audio

icon: audio

title:
  fr: "Audio"
  en: "Audio"

subtitle:
  fr: "Extraits - Œuvres pour ondes"
  en: "Excerpts - Works for the Ondes"

notes:
  - id: 6
    position: "top-right"
  - id: 7
    position: "middle-left"
  - id: 8
    position: "bottom-right"

scripts:
  - "/assets/scripts/audioplayer.js"

couverture: cvr9.jpg

lang: <%= language %>
---

{{#each ondes }}
{{>audioplayer piece=this language=../language}}
{{/each}}

{{>liste-cat category='audio' }}
