---
id: oeuvres-creation

categories: audio

icon: audio

title:
  fr: "Audio"
  en: "Audio"

subtitle:
  fr: "Extraits - Œuvres de création"
  en: "Excerpts - Creation Works"

notes:
  - id: 3
    position: "top-left"
  - id: 4
    position: "middle-right"
  - id: 5
    position: "bottom-left"

scripts:
  - "/assets/scripts/audioplayer.js"

couverture: cvr8.jpg

lang: <%= language %>
---

{{#each creation }}
{{>audioplayer piece=this language=../language}}
{{/each}}

{{>liste-cat category='audio' }}
