// Layout - Desktop
// -----------------------------------------------

// These styles are applied by default - no @media queries

.container {
  @include horizontal-padding($spacing-xl);
  max-width: $width-container;
  margin-left: auto;
  margin-right: auto;
}

//.container--full {
//	max-width: none;
//	@extend .no-margin;
//}

.container--article {
  @include vertical-padding($spacing-xl);
  margin-top: -.5rem;
  width: 95%;
  //position: relative;
  background: $color-bg-page;
  color: $gray-darker;

  h3, .h3 {
    border-bottom: 1px solid $gray-light;
  }
}

.container-full { max-width: none !important; }

// Grid

// Columns
.col {
  float: left;
  margin-left: $gutter;
  margin-right: $gutter;
}
[class*="pull-"], [class*="push-"] { position: relative; }

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

@for $i from 1 through $columns {
  .col-#{$i} { width: (100% * $i / $columns) - (2 * $gutter); }

  @if $i != $columns {
    .push-#{$i} { left: (100% * $i / $columns) - (2 * $gutter); }
    .pull-#{$i} { left: (-100% * $i / $columns) - (2 * $gutter); }
  }
}

// Rows
.row {
  @include clearfix;
  @include vertical-padding($spacing);
  position: relative;
}

.row--null { @include vertical-padding(0); }
.row--sm { @include vertical-padding($spacing-sm); }
.row--lg { @include vertical-padding($spacing-lg); }
.row--xl { @include vertical-padding($spacing-xl); }

// WARNING: clashes with Head.js,
// which adds .no-desktop class to html
//.no-desktop { display: none; }

// Remove Margin / Padding
.no-margin { margin: 0; }
.no-padding { padding: 0; }

.img-responsive {
  width: 100%;
  height: auto;
}

.img-inline {
  @include inline-block;
  vertical-align: middle;
}

.figure--img {
  padding: $spacing-xs;
  background-color: $gray-lighter;
  
  &.left {
    margin-left: 0;
  }
  
  &.right {
    margin-right: 0;
  }

  > img {
    height: auto;
    width: 100%;
  }
}

.figcaption--img {
  color: $gray;
  font-family: $font-family-sans-serif;
  font-size: $font-size-sm;
  margin:$spacing-sm 0 0;
  line-height: 1.4;
}
