// Layout - Phone
// -----------------------------------------------

@include mquery($breakpoint-phone) {

  .container {
    @include horizontal-padding($spacing);
    float: none;
    //&:first-child { margin-left: auto; }
  }

  .phone-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }

  // Grid
  @for $i from 1 through $columns {
    .phone-col-#{$i} { width: (100% * $i / $columns) - (2 * $gutter); }

    @if $i != $columns {
      .phone-push-#{$i} { left: (100% * $i / $columns) - (2 * $gutter); }
      .phone-pull-#{$i} { left: (-100% * $i / $columns) - (2 * $gutter); }
    }
  }

  .phone-no-push, .phone-no-pull { left: auto; }

  .phone-full {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    margin: 0 0 $spacing;
    display: block;
  }

  .phone-text-left { text-align: left; }
  .phone-text-right { text-align: right; }
  .phone-text-center { text-align: center; }

  .phone-left { float: left; }
  .phone-right { float: right; }
  .phone-no-float { float: none; }

  // Remove Margin / Padding
  .phone-no-margin { margin: 0; }
  .phone-no-padding { padding: 0; }

  .no-phone { display: none; }
  .show-phone { display: block; }


  .figure--img {
    &.left {
      margin-left: $gutter;
    }

    &.right {
      margin-right: $gutter;
    }
  }

}
