<section class="container--audioplayer well">
  <header class="header--audioplayer">
    <h6 title="Composer">{{ piece.composer }}</h6>
    <h5>{{ piece.title }} <span class="meta--inline"> {{getProp piece.title_meta language }}</span></h5>
  </header>
  <audio preload="none" controls>
    <source src="{{ baseurl }}/assets/media/{{ piece.name }}.ogg" type="audio/ogg">
    <source src="{{ baseurl }}/assets/media/{{ piece.name }}.mp3" type="audio/mpeg">
    <source src="{{ baseurl }}/assets/media/{{ piece.name }}.wav" type="audio/wav">
    {{#is language 'fr'}}Votre navigateur ne supporte pas la lecture audio. Veuillez télécharger le morceau.{{else}}Your browser does not support audio playback. Please try downloading the track.{{/is}} <a href="{{link '/assets/media/' }}
      piece.name }}.mp3">{{ piece.name }}</a>
  </audio>
  <div data-collapse class="collapse-group">
    <header class="header--collapse">{{#is language 'fr'}}Détails{{else}}Details{{/is}} <span class="icon icon-angle-down"></span></header>
    <article class="body--collapse">
      <p><span class="label">{{#is language 'fr'}}Année de composition :{{else}}Year of composition{{/is}}:</span> {{ piece.year }}</p>
      {{#each piece.details }}
      <p><span class="label">{{getProp this.key ../language }}:</span> {{getProp this.property ../language }}</p>
      {{/each}}
    </article>
  </div>
</section>