<footer role="contentinfo" class="footer--main">
  <div class="container">
    <div class="row">
      <div class="col col-3 phone-full">
        <p class="text-copyright">&copy;{{i18n 'footer_copyright' }}</p>
      </div>
      <div class="col col-3 phone-full">
        <a href="{{ baseurl }}/{{ language }}/contact/"><span class="icon icon-e-mail"></span>Contact</a>
      </div>
    </div>
  </div>
</footer>