{{> navbar }}

<header id="header-page" class="header--page">
  <img class="cover--header b-lazy" src="{{ baseurl }}/assets/img/cvr/{{ page.couverture }}" data-src="{{ baseurl }}/assets/img/cvr/{{ page.couverture }}" data-src-small="{{ baseurl }}/assets/img/cvr/sm/{{ page.couverture }}" alt="Couverture" />
  <div class="container container--header">
    <p class="title--meta no-margin h3"><span class="icon icon-{{ page.icon }}"></span></p>
    <h1 class="title--header uppercase">{{getProp page.title language }}</h1>
  </div>
</header>
