<head>
  <meta charset="UTF-8" />
  <title>{{getProp page.title language }} | Estelle Lemire</title>
  <meta name="author" content="Louis-Olivier Brassard" />
  <meta name="description" property="og:description" content="{{i18n 'site_description' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>{{> main.css }}</style>
  <link rel="shortcut icon" type="image/png" href="{{ baseurl }}/assets/img/favicon.png">
  <link rel="canonical" href="{{ url }}">
  <meta name="application-name" content="Estelle Lemire" />
  <meta name="msapplication-TileColor" content="#000" />
  <meta name="msapplication-square150x150logo" content="{{ baseurl }}/assets/img/apple-touch-icon.png" />
  <link rel="apple-touch-icon" href="{{ baseurl }}/assets/img/apple-touch-icon.png">
  <script>
(function(win) {
  // Head.js configuration
  win.head_conf = {
    screens   : [480, 680, 1350],
    screensCss: { "gt": false, "gte": false, "lt": false, "lte": false, "eq": false },
    browsers  : [{ ie: { min: 7, max: 10 } }],
    browserCss: { "gt": false, "gte": false, "lt": false, "lte": false, "eq": false },
    html5     : true,
    page      : "-page",
    section   : "-section",
    head      : "head"
  };
})(window);
{{> head.min.js }}
  </script>
  <!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="{{link '/assets/styles/ie.css'}}" />
<script src="{{link '/assets/scripts/ie.js'}}"></script>
<![endif]-->
</head>
