<div class="well">
  <h5>{{i18n 'dans_cette_section' }}</h5>
  <ul>{{#forEach navigation }}{{#is this.id ../category }}{{#forEach this.subnav}}
    <li><a href="{{ ../../baseurl }}/{{ ../../../language }}/{{ ../../this.id }}/{{ this.id }}/">{{getProp this ../../../language }}</a></li>{{/forEach}}{{/is }}{{/forEach}}
  </ul>
</div>