<!-- NAVBAR -->
<nav role="navigation" id="navbar-main" class="navbar">
  <a href="{{ baseurl }}/{{ language }}/accueil/" class="logo-navbar left"><img src="{{link '/assets/img/elemire-logo-58x58.png' }}" alt="Elemire logo"></a>

  <div id="toggle-nav" class="right">Menu <span class="icon icon-hamburger"></span><span class="icon icon-close"></span></div>
  <!-- Lang button -->
  <ul class="nav nav--navbar nav--lang right">
    <li>
      {{#is language 'en'}}
      <a href="/fr/accueil/">fr</a>
      {{/is}}
      {{#is language 'fr'}}
      <a href="/en/accueil/">en</a>
      {{/is}}
    </li>
  </ul>
  <ul class="nav nav--navbar nav-collapse left" id="nav-collapse">
    {{#each navigation }}
    <li {{#if this.subnav }}class="dropdown"{{/if}}>
      <a {{#is this.id ../page.id }}class="nav--current"{{/is}}{{#is this.id ../page.categories }}class="nav--current"{{/is}} href="{{ ../baseurl }}/{{ ../language }}/{{ this.id }}/{{#if this.redirect}}{{ this.redirect }}/{{/if}}">{{getProp this ../language }}</a>
      {{#if this.subnav }}
      <ul class="menu-dropdown">
        {{#each this.subnav}}
        <li>
          <a href="{{ ../../../baseurl }}/{{ ../../../language }}/{{ ../../this.id }}/{{ this.id }}/">{{getProp this ../../../language}} </a>
        </li>
        {{/each}}
      </ul>{{/if}}
    </li>
    {{/each}}
  </ul>
</nav><!-- /NAVBAR -->
