// Audioplayer
// -----------------------------------------------

.container--audioplayer {

  p {
    margin: $spacing-xs 0;
  }
}

.header--audioplayer {
  margin-bottom: $spacing;
}

.audioerror {
  color: #fff;
  font-size: 12px;
  text-align: center;
}

audio, .audioplayer { width: 100% }

.audioplayer {
  @include border-radius(3px);
  position: relative;
  //width: 100%;
  height: 40px;
  margin: $spacing auto;
  color: #fff;
  background-color: $gray-darker;
  font-family: $font-family-sans-serif;
  border: 1px solid #000;
  box-shadow:0 2px 3px #888;
  //overflow:visible;
}

/* Fallback case */
.audio-player-mini {
  width: 40px;
  margin: 0 auto;
}

/* Inner elements positioning (helps achieve responsiveness) */
.audioplayer div {
  position: absolute;
}

/* Play/ Pause button */
.audioplayer-playpause {
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  z-index: $z-index-widget + 1;
}

.audioplayer-mini .audioplayer-playpause {
  width:100%;
}

.audioplayer-playpause:hover {
  background: darken($gray-darker, 5%);
}

.audioplayer-playpause a {
  display: block;
}

/* "Play" icon when audio is not being played */
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -4px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right: none;
  border-left-color: #fff;
}

/* "Pause" icon when audio is being played */
.audioplayer-playing .audioplayer-playpause a {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
}

.audioplayer-playing .audioplayer-playpause a:before,
.audioplayer-playing .audioplayer-playpause a:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  background: #fff;
  top: 0;
}

.audioplayer-playing .audioplayer-playpause a:before {
  left: 0;
}

.audioplayer-playing .audioplayer-playpause a:after {
  right: 0;
}

/* Timers */
.audioplayer-time {
  width: 60px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  z-index: $z-index-widget + 1;
  top: 0;
}

.audioplayer-time-current {
  left: 40px;
}

.audioplayer-time-duration {
  right: 40px;
}

.audioplayer-novolume .audioplayer-time-duration {
  border-right: 0;
  right: 0;
}

/* Progress bar */
.audioplayer-bar {
  @include transition (all .3s);
  top: 50%;
  right: 110px;
  left: 110px;
  margin-top: -1px;
  height: 2px;
  cursor: pointer;
  z-index: $z-index-widget;
  background-color: $gray-dark;
  @include box-shadow(inset 0 1px 0 0 #000);
}

.audioplayer:hover .audioplayer-bar {
  height: 12px;
  margin-top: -6px;

}

.audioplayer-bar,
.audioplayer-bar div {
  @include border-radius(3px);
}

.audioplayer-novolume .audioplayer-bar {
  right: 70px;
}

.audioplayer-bar div {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.audioplayer-bar-loaded {
  background: #fff;
  z-index: $z-index-widget;
}

.audioplayer-bar-played {
  @include background-gradient($color-primary, $color-primary-accent, horizontal);
  //background: #E06411;
  //background: -webkit-gradient( linear, left top, right top, from( #e8ab1c ), to( #E06411 ) );
  //background: -webkit-linear-gradient( left, #e8ab1c, #E06411 );
  //background: -moz-linear-gradient( left, #e8ab1c, #E06411 );
  //background: -ms-radial-gradient( left, #e8ab1c, #E06411 );
  //background: -o-linear-gradient( left, #e8ab1c, #e8ab1c );
  //background: linear-gradient( to right, #e8ab1c, #E06411 );
  z-index: $z-index-widget + 1;
}

/* Volume adjuster */
.audioplayer-volume {
  top:0;
  right:0;
  width:40px;
  height:100%;
  text-align: left;
  text-indent :-9999px;
  cursor: pointer;
  z-index: $z-index-widget + 1;
}

.audioplayer-volume:hover,
.audioplayer-volume:focus {
  background-color: darken($gray-darker, 4%);
}

.audioplayer-volume-button {
  width: 100%;
  height: 100%;
}

/* "Volume" icon */
.audioplayer-volume-button a {
  position: relative;
  display: block;
  top: 40%;
  left: 35%;
  width: 4px;
  height: 6px;
  background-color: #fff;
  z-index: $z-index-widget;
}

.audioplayer-volume-button a:before,
.audioplayer-volume-button a:after {
  content: '';
  position: absolute;
}

.audioplayer-volume-button a:before {
  top: 50%;
  right: -4px;
  margin-top: -8px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: none;
  border-right-color: #fff;
  z-index: $z-index-widget + 1;
}

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
  /* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
  width:8px;
  height:8px;
  border:4px double #fff;
  border-width:4px 4px 0 0;
  left:9px;
  top:-1px;
  -webkit-border-radius:0 15px 0 0;
  -moz-border-radius:0 15px 0 0;
  border-radius:0 15px 0 0;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

/* Volume adjuster */
.audioplayer-volume-adjust {
  width: 40px;
  height: 100px;
  cursor: default;
  position: absolute;
  right: -1px;
  top: auto;
  bottom: 100%;
  background-color: $gray-darker;
  display: block;
}

.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
  display: none;
}

.audioplayer-volume-adjust > div {
  width: 15px;
  height: 80px;
  background: #555;
  cursor: pointer;
  position: relative;
  z-index: $z-index-widget;
  margin: 12px auto 0;
  border-radius:3px;
  overflow: hidden;
}

.audioplayer-volume-adjust div div {
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  border-radius:3px;
  @include background-gradient($color-primary, $color-primary-accent, vertical);
  //background:#E06411;
  //background: -webkit-gradient( linear, top left, bottom left, from( #e8ab1c ), to( #E06411 ) );
  //background: -webkit-linear-gradient( top, #e8ab1c, #E06411 );
  //background: -moz-linear-gradient( top, #e8ab1c, #E06411 );
  //background: -ms-radial-gradient( top, #e8ab1c, #E06411 );
  //background: -o-linear-gradient( top, #e8ab1c, #e8ab1c );
  //background: linear-gradient( to bottom, #e8ab1c, #E06411 );
}

.audioplayer-novolume .audioplayer-volume {
  display: none;
}

@media screen and (max-width:680px) {
  .audioplayer-time {
    font-size: 10px;
    width: 40px;
  }

  .audioplayer-bar {
    left: 80px;
    right: 80px;
  }
}

@media screen and (max-width:320px) {    
  .audioplayer-bar {
    right: 40px;
  }
  .audioplayer-time-duration {
    display: none;
  }
}
