.collapse-group {
  .icon {
    @include transition(transform .4s);
    font-size: $font-size-sm;
  }

  &.open {


    .body--collapse {
      //height: 0;
    }

    .icon {
      @include transform(scale(-1) rotate(360deg));
    }
  }
}

.header--collapse {
  padding: $spacing-xs;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.body--collapse {
  @include transition(height, .5s);
  overflow: hidden;
  border-left: 2px dashed $gray;
  padding-left: $spacing;
  //height: 200px;
}