// Fonts
// -----------------------------------------------

@font-face {
  font-family: 'Lora';
  src: 	url($baseUrl + '/assets/fonts/lora/lora-regular-webfont.eot');
  src: 	url($baseUrl + '/assets/fonts/lora/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '/assets/fonts/lora/lora-regular-webfont.woff') format('woff'),
    url($baseUrl + '/assets/fonts/lora/lora-regular-webfont.ttf') format('truetype'),
    url($baseUrl + '/assets/fonts/lora/lora-regular-webfont.svg#loraregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: 	url($baseUrl + '/assets/fonts/lora/lora-italic-webfont.eot');
  src: 	url($baseUrl + '/assets/fonts/lora/lora-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '/assets/fonts/lora/lora-italic-webfont.woff') format('woff'),
    url($baseUrl + '/assets/fonts/lora/lora-italic-webfont.ttf') format('truetype'),
    url($baseUrl + '/assets/fonts/lora/lora-italic-webfont.svg#loraitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: 	url($baseUrl + '/assets/fonts/lora/lora-bolditalic-webfont.eot');
  src: 	url($baseUrl + '/assets/fonts/lora/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '/assets/fonts/lora/lora-bolditalic-webfont.woff') format('woff'),
    url($baseUrl + '/assets/fonts/lora/lora-bolditalic-webfont.ttf') format('truetype'),
    url($baseUrl + '/assets/fonts/lora/lora-bolditalic-webfont.svg#lorabold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url($baseUrl + '/assets/fonts/raleway/raleway.eot');
  src: url($baseUrl + '/assets/fonts/raleway/raleway.eot?#iefix') format('embedded-opentype'),
    url($baseUrl + '/assets/fonts/raleway/raleway.woff2') format('woff2'),
    url($baseUrl + '/assets/fonts/raleway/raleway.woff') format('woff'),
    url($baseUrl + '/assets/fonts/raleway/raleway.ttf') format('truetype'),
    url($baseUrl + '/assets/fonts/raleway/raleway.svg#ralewaylight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'BW Stretch';
  src: url($baseUrl + '/assets/fonts/bw-stretch/bwstretch-light-webfont.woff2') format('woff2'),
    url($baseUrl + '/assets/fonts/bw-stretch/bwstretch-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
