// Footer
// -----------------------------------------------

.footer--main {
  margin-top: $spacing-xl;
  padding: $spacing;
  color: $gray;
  border-top: 1px solid $gray-light;
  background-color: $gray-lighter;
  font-size: $font-size-sm;
}

.text-copyright {

}    