// Header
// -----------------------------------------------

.header--page {
  @include transform-style(preserve-3d);
  @include perspective(10px);
  @include perspective-origin(50% 50%); // adjusted with js
  padding-top: $height-navbar + 90px ; // navbar is positioned absolute; compensate for this
  padding-bottom: 100px;
  width: 100%; // must include 100% explicitly for abs. positioned img
  color: #fff;
  background-color: #000;
  border-bottom: 2px solid $color-primary;
  position: relative; // IE not hiding image overflow
  overflow: hidden;
}

.cover--header {
  //@include transition(opacity .4s); // animate opacity on image load
  //@include opacity(0); // fadein on image load
  @include transform-style(preserve-3d);
  @include transform(
    translateZ(1px)
    );
  position: absolute;
  top: -50px;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: 100%; // don't allow too much overflow
  height: auto;
  //max-height: 200%; // set max-height on smaller screens

  z-index: $z-index-widget - 2;

  &.b-loaded {
    //@include opacity(1);
  }
}

.container--header {
  @include transform(
    translateZ(3px)
    scale(0.7)
    );
  position: relative;
  z-index: $z-index-widget - 1; // no overlapping from bg-image
}

.header--article {
  @include horizontal-padding(0);
  margin-bottom: $spacing-xl;
  border-bottom: 1px solid $gray-light;
  text-align: left; // do not justify
  hyphens: none;

  h2 {
    font-family: $font-family-sans-serif;
  }
}

.title--header {
  margin-top: 0;
}

.title--meta {
  color: $gray;
  opacity: 0.5;
  text-transform: uppercase;

  .icon {
    margin-right: $spacing;
  }
}
