// Icons
// -----------------------------------------------
@font-face {
  font-family: 'elemire-icons';
  src:url($baseUrl + '/assets/fonts/icons/elemire-icons.eot?-i0v2mm');
  src:url($baseUrl + '/assets/fonts/icons/elemire-icons.eot?#iefix-i0v2mm') format('embedded-opentype'),
    url($baseUrl + '/assets/fonts/icons/elemire-icons.woff?-i0v2mm') format('woff'),
    url($baseUrl + '/assets/fonts/icons/elemire-icons.ttf?-i0v2mm') format('truetype'),
    url($baseUrl + '/assets/fonts/icons/elemire-icons.svg?-i0v2mm#elemire-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  font-family: 'elemire-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-note-3:before {
	content: "\e60a";
}
.icon-note-all:before {
	content: "\e610";
}
.icon-audio:before {
	content: "\e611";
}
.icon-bague:before {
	content: "\e612";
}
.icon-bio:before {
	content: "\e613";
}
.icon-e-mail:before {
	content: "\e614";
}
.icon-home:before {
	content: "\e615";
}
.icon-note-1:before {
	content: "\e608";
}
.icon-note-2:before {
	content: "\e609";
}
.icon-note-4:before {
	content: "\e60b";
}
.icon-note-5:before {
	content: "\e60c";
}
.icon-note-6:before {
	content: "\e60d";
}
.icon-note-7:before {
	content: "\e60e";
}
.icon-note-8:before {
	content: "\e60f";
}
.icon-angle-down:before {
	content: "\e600";
}
.icon-angle-left:before {
	content: "\e601";
}
.icon-angle-right:before {
	content: "\e602";
}
.icon-angle-up:before {
	content: "\e603";
}
.icon-close:before {
	content: "\e604";
}
.icon-plus:before {
	content: "\e605";
}
.icon-tech-1:before {
	content: "\e606";
}
.icon-tech-2:before {
	content: "\e607";
}
.icon-link:before {
	content: "\e005";
}
.icon-image:before {
	content: "\e010";
}
.icon-video:before {
	content: "\e018";
}
.icon-paragraph:before {
	content: "\e025";
}
.icon-play:before {
	content: "\e052";
}
.icon-pause:before {
	content: "\e053";
}
.icon-volume:before {
	content: "\e098";
}
.icon-mute:before {
	content: "\e099";
}
.icon-hamburger:before {
	content: "\e120";
}
