// Landing page specific styles
// -----------------------------------------------

body {
  background-color: $color-bg-page;
  color: $gray;
  font-family: $font-family-sans-serif;
}

// Mini grid
$columns: 2;

@for $i from 1 through $columns {
  .col-#{$i} { width: (100% * $i / $columns) }
}

.col { float: left; }

.row {
  @include clearfix;
  //position: relative;
}

// Typography
h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-sans-serif;
  font-weight: normal;
  margin: 30px 0;
}
.header--landing {
  text-align: center;
  padding: 2*$spacing-xl $spacing-xl;
}
.title-primary {
  font-size: 45px;
  -webkit-animation: slideIn 2s;
  animation: slideIn 2s;
}
.title-secondary {
  font-size: $h6;
  -webkit-animation: slideIn 3s;
  animation: slideIn 3s;
}

// Navigation
.nav--lang {
  @include clearfix;
  font-size: 30px;
  > ul {
    @include list-reset;

    > li {
      // apply `.col` classes on markup

      > a {
        @include transition(background-color .3s);
        -webkit-tap-highlight-color: rgba($color-primary, 0.5);
        -webkit-animation: fadeIn 4s;
        animation: fadeIn 4s;
        display: block;
        padding: 60px 45px;
        text-align: center;
        color: $gray;


        &:focus, &:hover {
          background-color: $color-primary;
          color: check-background($color-primary);
        }
      }
    }
  }
}

.deco-notes.icon-note-all {
  font-size: $font-size-notes;
  color: $gray-light;
}

.cover--landing {
  height: 140px;
  background-color: $gray-lighter;
  background-image: url($baseUrl + '/assets/img/cvr/cvr-landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// Responsive
@include mquery($breakpoint-tablet) {
  @for $i from 1 through $columns {
    .tablet-col-#{$i} { width: (100% * $i / $columns) }
  }

  .tablet-text-center { text-align: center }

  .header--landing {
    padding: $spacing-xl $spacing;
  }

  .no-tablet { display: none !important }

  .cover--landing {
    height: 100px;
  }

  .nav--lang {
    font-size: 25px;
    > ul {

      > li {

        > a {
          padding: 45px 20px;
        }
      }
    }
  }
}

// Animations
@-webkit-keyframes slideIn {
  0%      {-webkit-transform:translateY(-30px); opacity: 0;}
  50%     {-webkit-transform:translateY(-30px); opacity: 0;}
  100%    {-webkit-transform:translateY(0); opacity:1;}
}

@keyframes slideIn {
  0%      {transform:translateY(-30px); opacity: 0;}
  50%     {transform:translateY(-30px); opacity: 0;} // add manual delay
  100%    {transform:translateY(0); opacity:1;}
}

@-webkit-keyframes fadeIn {
  0%		{opacity:0;}
  50%		{opacity:0;}
  100%	{opacity:1;}
}

@keyframes fadeIn {
  0%		{opacity:0;}
  50%		{opacity:0;} // add manual delay
  100%	{opacity:1;}
}
