// Navbar
// -----------------------------------------------

.navbar {
  @include clearfix;
  @include transform(translateZ(10px));
  @include transform-style(flat);
  @include transition(background-color 0.3s);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-widget;
  font-family: $font-family-sans-serif;
  color: $navbar-color;
  background-color: $navbar-background;
  letter-spacing: 1px;

  &.open {
    background-color: $navbar-background-dropdown;

    #toggle-nav {
      color: #fff;

      .icon-hamburger { display: none; }
      .icon-close { display: inline-block; }
    }
  }
}

#toggle-nav {
  display: none; // reveal w/ @media queries
  padding: $spacing-sm;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;

  .icon { vertical-align: middle; }

  .icon-close { display: none; }
}

.nav {
  @include list-reset;

  > li {
    float: left;

    > a {
      display: block;

    }
  }
}

.navbar--static {
  @include clearfix;
  color: $navbar-color;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: $font-size-sm;
  letter-spacing: 1px;
}

.nav--navbar {
  > li {

    > a {
      @include transition(box-shadow .3s);
      display: block;
      box-shadow: inset 0 -45px 0 0 transparent;
      padding: $spacing-sm $spacing-lg;
      position: relative;
      background-color: transparent;
      color: $navbar-color;
      text-align: center;

      &:hover, &:focus {
        color: #fff;
        box-shadow: inset 0 -4px 0 0 $color-link; 
      }

      &.nav--current {
        //@include box-shadow(inset 0 -4px 0 $color-primary-accent);
        color: $color-primary;
      }
    }
  }
}

.nav-collapse {
  @include transition(height 1s);
}

.dropdown {
  position: relative;

  &:hover, &:focus, &.open {
    .menu-dropdown {
      @include transition-delay(0s);
      @include opacity(1);
      visibility: visible;
    }
  }
}

.menu-dropdown {
  @include transition(opacity .3s ease, visibility 0s linear .3s);
  @include list-reset;
  @include opacity(0);
  position: absolute;
  visibility: hidden; // reveal on hover
  background-color: $navbar-background-dropdown;
  color: $navbar-color;
  z-index: $z-index-tooltip;
  min-width: 220px;

  > li {
    position: relative;

    > a {
      @include transition (background-color .3s);
      display: block;
      padding: $spacing-xs;
      position: relative;
      color: $navbar-color;

      &:hover, &:focus {
        background-color: $color-link;
        color: check-background($color-link);

        &:after {
          width: 90%;
        }
      }
      &:after {
        @include transition(width .3s);
        content: '';
        display: block;
        height: 2px;
        width: 25%;
        background-color: $gray-lighter; // same as dropdown text color
      }
    }
  }	
}


.logo-navbar {
  @include square($height-navbar);
  display: block; // it's an <a> element, inline by default
  background-color: #000;

  > img {
    width: 100%;
    height: auto;
  }
}

// Language button
.nav--lang {
  text-transform: uppercase;
}
