// Reset
// -----------------------------------------------

body, html {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

*, *:before, *:after{ @include box-sizing(border-box); }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block }
html, button, input, select, textarea { font-family: sans-serif }
body, form, fieldset, legend, input, select, textarea, button { margin: 0 }
html { font-size: 100% }

// Images
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  font-family: sans-serif;
}
svg:not(:root) { overflow: hidden }
figure { margin: 0 }

a, button, a img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  color: inherit;
  outline: none;
}

address { font-style: normal }

// Horizontal Rule
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: $gray;
  margin: $spacing-lg auto;
  *margin: 1em 0;
  height: 1px;
}
