// Slider
// -----------------------------------------------


// maybe use flexbox in this slider...

.slider {
  // swipe required styles
  //visibility: hidden;
  overflow: hidden;
  position: relative;
  // END swipe required styles

  @include box-sizing(border-box);
  margin: $spacing-lg 0;
  height: 400px;
  //max-height: 454px;
}

.inner-slider {
  // swipe required styles
  overflow: hidden;
  position: relative;
  // END swipe required styles

  height: 100%;

  > .figure-slider {
    // swipe required styles
    float: left;
    width: 100%;
    position: relative;
    // END swipe required styles

    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: $gray-lighter;

    > img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
      display: block;
    }
  }
}

.figure-slider.toggled {
  .toggle-slider { @include transform(rotate(45deg)) }

  .description-slider {
    @include transition-delay(0s);
    @include opacity(1);
    //display: block;
    visibility: visible;
  }
}

.description-slider {
  @include transition(opacity .3s ease, visibility 0s linear .3s);
  @include opacity(0);
  position: absolute;
  //display: none; // reveal w/ js
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $spacing-xl $spacing-xl * 2;
  overflow-y: auto;
  background-color: #000; // fallback if no rgba
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  letter-spacing:0.5px; // add extra letter spacing for visual clarity
  z-index: $z-index-widget - 1;

  h5 { margin-bottom: $spacing-sm; }

  p {
    font-size: $font-size-sm;
  }

}

.btn-controls-slider {
  @include transition(all .3s);
  text-align: center;
  position: absolute;
  top: 40%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: $z-index-widget;

  .icon {
    @include square($spacing-lg);
    line-height: $spacing-lg;
  }
}

.toggle-slider {
  top: $spacing-xs;
  left: $spacing-xs;
  z-index: 6;
}

#slider-previous {
  left:-100px;
}

#slider-next {	
  right:-100px;
}

.slider:hover {
  #slider-previous {
    left: $spacing-xs;
  }
  #slider-next {	
    right: $spacing-xs;
  }
}

.bullets-slider {
  @include list-reset;
  @include clearfix;

  text-align: center;

  > li {
    @include inline-block;

    > a {
      @include border-radius(50%);
      @include transition(color .3s);
      display: block;
      margin: 0 $spacing-xs;
      padding: 2px;
      font-size: $h4;
      color: $gray;
      cursor: pointer;

      &.active {
        color: $color-link;
      }
    }
  }
}

// No-js fallback

.no-js {
  .slider {
    //visibility: visible;
    //overflow: visible;
    position: relative;
    width: auto;
    height: auto;
    max-height: none;
  }

  .inner-slider {
    height: auto;
    //overflow: visible;

    > .figure-slider {
      float:none;
      width:auto;
      position:relative;
      margin: $spacing;
      background-color: transparent;

    }
  }

  .description-slider {
    //display: block;
    @include opacity(1);
    position: static;
    visibility: visible;
    padding: $spacing-sm;
    //color: $gray-dark;
    //background-color: transparent;
    //margin: 0 0 12px 0;
  }

  .btn-controls-slider, #slider-info {
    display: none;
  }
}
