// Theme
// -----------------------------------------------

::selection {
  background: $color-primary;
  color: check-background($color-primary);
}

::-moz-selection {
  background: $color-primary;
  color: check-background($color-primary);
}

@import

  "theme/theme-desktop"
  ,"theme/theme-lg"
  ,"theme/theme-tablet"
  ,"theme/theme-phone"

  ;
