// Typography
// -----------------------------------------------

// Global typography
body {
  font-family: $font-family-sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight-sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  padding: 0;
  margin: $spacing-xs 0 0;
  font-family: $font-family-heading;
  line-height: 1.3; // normalize the line-height on headings
  font-weight: $font-weight-heading;
}

h1, .h1 {
  font-size: $h1;
}

h2, .h2 {
  font-size: $h2;
}

h3, .h3 {
  font-size: $h3;
}

h4, .h4 {
  font-size: $h4;
}

h5, .h5 {
  font-size: $h5;
}

h6, .h6 {
  font-size: $h6;
}

.no-style-heading {
  margin: 0;
  font-size: 100%;
}

.title-label {
  text-transform: uppercase;
  display: inline;
  margin: 0;
}

// Font Style
b, strong { font-weight: 700 }
i, em, .em { font-style: italic }

// Links
a {
  color: $color-link;
  text-decoration: none;

  &:focus, &:hover {
    text-decoration: none;
    outline: none;
    color: $color-link-accent;
  }
  &:active, &:hover { outline: none; }
}

// Paragraph and Small
p {
  margin: 0 0 $spacing 0;
}

pre { margin: $spacing-sm 0; }
ul + p, ul + pre, ol + p, ol + pre { margin-top: 0; }

pre, code {
  @include border-radius(3px);
  font-family: inherit;
  padding: 2px;
  margin: 0 3px;
  color: $gray-dark;
  background-color: $gray-lighter;
  vertical-align: middle;
  border: 1px solid $gray-light;
  white-space: nowrap;
}

// Abbreviations
abbr[title] { border-bottom: 1px dotted; }

// Mark
//mark {
//	background: #ff0;
//	color: #111;
//}

// Small, Sub and Sup
small { font-size: $font-size-sm; }
.large { font-size: $h4; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

strong {
  font-weight: 700;
  font-style: italic;
  color: $color-primary;
}

.container--article {
  @include clearfix;
  font-family: $font-family-serif;
  font-weight: $font-weight-serif;
  text-align: justify;
  word-wrap:break-word;
  -webkit-hyphens:auto;
  -moz-hyphens:auto;
  hyphens:auto;

  p > a {
    @include transition(background-color .3s);
    display: inline-block;
    padding: 1px;
    color: $color-link;
    border-bottom: 1px dotted #177689;

    &:hover, &:focus{
      background-color: $color-link;
      color: check-background($color-link);
    }
  }
}

.reference {
  padding: $spacing-lg;
  background-color: $gray-lighter;
  border-left: 4px solid $blue;
  margin: $spacing  0 $spacing $spacing-lg;
  position: relative;
  color: $gray-dark;
}

.heading-reference {

}

.content-reference {

}

// Classical, standard serif TNR letters
.text-classical {
  font-family:'Times New Roman', serif;
  font-style: italic;
  font-weight: bold;
}

.meta--inline {
  color: $gray;
  display: inline;
}

