// Variables
// -----------------------------------------------

$baseUrl:                                     ''; // for when building the site with a prefixed url (e.g. /blog)

// Layout
$width-container:                               680px;
$width-container-lg:                            $width-container + 100; // maybe make a larger container later

$columns:                                       6;
$gutter:                                        2%;

// Responsive breakpoints
$breakpoint-lg:                                 1350px;
$breakpoint-tablet:                             769px;
$breakpoint-phone:                              520px;

// Colors
$yellow:                                        #e8ab1c;
$orange:                                        #E06411; // accent for the yellow
$blue:                                          #1A8CA3;
$blue-light:                                    #5AB6C9; // light accent for the blue

// Grays
$gray-lighter:                                  #eee;
$gray-light:                                    #ccc;
$gray:                                          #999;
$gray-dark:                                     #666;
$gray-darker:                                   #111;

$color-primary:                                 $yellow;
$color-primary-accent:                          $orange;
$color-link:                                    $blue;
$color-link-accent:                             $blue-light;

$color-bg-page:                                 #fff;
$color-text:                                    $gray-darker;

// Type
$font-family-serif:                             'Lora', 'Georgia', 'Garamond', serif;
$font-family-sans-serif:                        'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-family-body:                              $font-family-serif;
$font-family-heading:                           'BW Stretch', 'Directors Gothic 250', 'Helvetica-Condensed', 'Helvetica', 'Arial Narrow', sans-serif;

$font-weight-serif:                             400;
$font-weight-sans-serif:                        200;
$font-weight-heading:                           200;

$font-size:                                     17px;
$font-size-sm:                                  $font-size * 0.8;
$line-height:                                   1.8;

$font-size-notes:                               280px;

// headings
$h1:                                            77px;
$h2:                                            $font-size + 24;
$h3:                                            $font-size + 16;
$h4:                                            $font-size + 10;
$h5:                                            $font-size + 8;
$h6:                                            $font-size + 4;

// Standard spacings
$spacing-xs:                                    $font-size * 0.5;
$spacing-sm:                                    $font-size-sm;
$spacing:                                       $font-size;
$spacing-lg:                                    $font-size * 1.5;
$spacing-xl:                                    $font-size * 2.5;

// z-index
$z-index-widget:                                5; // slider, audioplayer
$z-index-tooltip:                               10;

// Elements sizes

$height-navbar: $font-size * $line-height + 2*$spacing-sm;

$navbar-color:                                  $gray;
$navbar-background:                             rgba(0, 0, 0, 0.2);
$navbar-background-dropdown:                    #000;

$size-btn-pilly: 50px;
$size-btn-pilly-sm: $size-btn-pilly * 0.75;
