---
id: apercu

icon: bague

title:
  fr: Le Martenot
  en: The Ondes Martenot

subtitle:
  fr: Aperçu
  en: At a glance

categories: ondes

notes:
- id: 2
  position: "bottom-left"
- id: 4
  position: "middle-right"

couverture: cvr4.jpg

lang: <%= language %>
---

{{#forEach images}}
{{#is url 'ondes360.jpg' }}
<figure class="figure--img left col col-3 phone-col-6">
  <img src="{{ baseurl }}/assets/img/sm/{{ url }}" alt="{{getProp title page.lang }}">
  <figcaption class="figcaption--img">{{getProp comment ../../language }}</figcaption>
</figure>
{{/is}}
{{/forEach}}

<p>{{i18n 'apercu_p1' }}</p>


{{#forEach images}}
{{#is url 'clav-long.jpg' }}
<figure class="figure--img right col col-3 phone-col-6">
  <img src="{{ baseurl }}/assets/img/sm/{{ url }}" alt="{{getProp title page.lang }}">
  <figcaption class="figcaption--img">{{getProp comment ../../language }}</figcaption>
</figure>
{{/is}}
{{/forEach}}

<p>{{i18n 'apercu_p2' }}</p>

<p><strong>Document Estelle Lemire</strong></p>

{{>liste-cat category='ondes' }}
