---
id: tech

icon: tech-2

title:
  fr: "Description technique"
  en: "Technical Overview"

subtitle:
  fr: "À l'intention des compositeurs"
  en: "For composers"

categories: ondes

notes:
- id: 1
  position: "middle-right"

couverture: cvr5.jpg

lang: <%= language %>
---

{{i18n 'tech_p1' }}

<div class="row">
  <figure class="col col-3 tablet-full">
    <img class="img-responsive" src="{{ baseurl }}/assets/img/sys-mus-desc-basse.png" alt="{{i18n 'position_grave' }}">
    <figcaption class="figcaption--img">{{i18n 'position_grave' }}</figcaption>
  </figure>

  <figure class="col col-3 tablet-full">
    <img class="img-responsive" src="{{ baseurl }}/assets/img/sys-mus-desc-treble.png" alt="{{i18n 'position_aigue' }}">
    <figcaption class="figcaption--img">{{i18n 'position_aigue' }}</figcaption>
  </figure>
</div>

{{i18n 'tech_p2' }}

{{i18n 'tech_p3' }}

{{#forEach images }}
{{#is url 'clavier.jpg' }}
<figure class="figure--img right col col-3 phone-col-6">
  <img src="{{ baseurl }}/assets/img/sm/{{ url }}" alt="{{getProp title ../../language }}">
  <figcaption class="figcaption--img">{{getProp comment ../../language }}</figcaption>
</figure>
{{/is}}
{{/forEach}}

{{i18n 'tech_p4' }}

{{i18n 'tech_p5' }}

{{#forEach images}}
{{#is url 'bague-face.jpg' }}
<figure class="figure--img left col col-3 phone-col-6">
  <img src="{{ baseurl }}/assets/img/sm/{{ url }}" alt="{{getProp title ../../language }}">
  <figcaption class="figcaption--img">{{getProp comment ../../language }}</figcaption>
</figure>
{{/is}}
{{/forEach}}

{{i18n 'tech_p6' }}

{{#forEach images}}
{{#is url 'tiroir-de-commandes.jpg' }}
<figure class="figure--img right col col-3 phone-col-6">
  <img src="{{ baseurl }}/assets/img/sm/{{ url }}" alt="{{getProp title ../../language }}">
  <figcaption class="figcaption--img">{{getProp comment ../../language }}</figcaption>
</figure>
{{/is}}
{{/forEach}}

{{#is language 'fr' }}
La **touche d'intensité** permet une très vaste gamme de nuances allant du pianissimo émergeant du silence à des fortissimos puissants. Elle joue le rôle de l’archet du violoniste ou du souffle du flutiste. Les articulations traditionnelles sont toutes possibles sans exceptions: legato, détaché, staccato, les accents et le percuté. Le legato peut-être très rapide, ± <span class='icon icon-tech-2'></span> = 160. Le détaché peut se faire aisément jusqu'à ± <span class='icon icon-tech-2'></span> = 104. Le staccato se limite à ± <span class='icon icon-tech-2'></span> = 116. On peut également exécuter un trémolo de touche pour des notes répétées rapides a ± <span class='icon icon-tech-2'></span> = 132. Des notes répétées sur le clavier avec «claquements» sont possibles à ± <span class='icon icon-tech-2'></span> = 160. Le percuté se note avec un petit cercle vide au-dessus de la note <span class='icon icon-tech-1'></span>. Les nuances sont en partie déterminées par les timbres et les diffuseurs choisis. Par exemple, un timbre «pur» sera limité aux <span class='text-classical'>p</span>, alors que plus il sera «gambé» plus la palette s'élargira vers les <span class='text-classical'>f</span>.
{{/is}}

{{#is language 'en' }}
The **dynamics control key** (_touche d’intensité_) makes it possible to produce a wide spectrum of dynamics, ranging from the subtlest pianissimo to powerful fortissimo, much like a violin bow or the breath of a flute player. All traditional types of articulations are possible: legato, _détaché_, staccato, accents and percussive/staccato. Legato can be played very fast, ± <span class='icon icon-tech-2'></span> = 160. _Détaché_ can easily be played up to ± <span class='icon icon-tech-2'></span> = 104. Staccato is limited to ± <span class='icon icon-tech-2'></span> = 116. One can also play a key tremolo with fast repeated notes at ± <span class='icon icon-tech-2'></span> = 132. Fast repeated notes on the keyboard with key release (_claquements_) are possible at ± <span class='icon icon-tech-2'></span> = 160. Percussive notes are notated with a small circle over the note <span class='icon icon-tech-1'></span>. Dynamics are partly determined by selected timbres and speakers (_diffuseurs_). For instance, a “pure” timbre will be limited to <span class='text-classical'>p</span> nuances, whereas the more it is “gamba-like”, its dynamics spectrum will expand to <span class='text-classical'>fortes</span>.
{{/is}}

{{i18n 'tech_p8' }}

{{!i18n 'tech_p9' }}

{{#is language 'fr' }}
**Les timbres O, C, g, G, N, T, 8** et **S** représentent des formes d’ondes simples que l’on peut utiliser seules ou combinées. Ils partent du simple sinus `O = ondes` auquel on ajoute différents harmoniques. `C = creux`, `g = petit gambé` (qu’on peut doser de 1 à 5), `G = grand gambé`, `N = nasillard`, `T = tutti`, `8 = octaviant` (il ajoute une harmonique d’octave, se combine nécessairement à un autre timbre), `S = souffle` ou bruit blanc. **F** pour **«feutré»** est un filtre qui adoucit certains timbres. Un timbre (ou groupe de timbres) prendra une couleur différente selon le ou les diffuseurs choisis.
{{/is}}

{{#is language 'en' }}
**Timbres O, C, g, G, N, T, 8** and **S** designate simple sine wave forms that can be used individually or in combination. They build from a simple sine wave `O = wave` to which one adds various harmonics. `C = creux` (“hollow”), `g = petit gambé` (“small gamba”, which can be modulated from 1 to 5 with a slider), `G = grand gambe` (“large gamba”), `N = nasillard`, `T = tutti`, `8 = octaviant` (this adds the first harmonic of an octave, to be combined to another timbre), `S = souffle` or `white noise`. **F** for **“feutré”** (“felt-like”), a filter which softens certain timbres. A timbre (or group of timbres) will take on a different color depending on the chosen speakers (_“diffuseurs”_).
{{/is}}

{{i18n 'tech_p10' }}

{{!i18n 'tech_p11' }}

{{#is language 'fr' }}
Les **«aiguilles»** ou **boutons transpositeurs** permettent en conjonction avec le clavier les &frac14; de ton (parfois les <sup>1</sup>&frasl;<sub>3</sub>, <sup>1</sup>&frasl;<sub>6</sub>, <sup>1</sup>&frasl;<sub>8</sub> et <sup>1</sup>&frasl;<sub>12</sub><sup>e</sup> de ton) ainsi que l’effet «aiguilles». La micro-tonalité est donc possible aussi bien au clavier qu’au ruban.
{{/is}}

{{#is language 'en' }}
The **transposing buttons** make it possible, in combination with the keyboard, to produce quarter-tones (also <sup>1</sup>&frasl;<sub>3</sub>, <sup>1</sup>&frasl;<sub>6</sub>, <sup>1</sup>&frasl;<sub>8</sub> and <sup>1</sup>&frasl;<sub>12</sub><sup>th</sup> tones) as well as an _aiguilles_ effect (rapid random multi-sounds tremolo). Microtonality is thus possible using either the keyboard or the ribbon.

{{/is}}

{{i18n 'tech_p12' }}

{{i18n 'tech_p13' }}

{{i18n 'tech_p14' }}

### {{i18n 'references_decoute' }}

<ul class="list-unstyled">
{{#forEach ecoutes}}
<li class="reference row">
  <h4>{{ title }}</h4>
  <p>{{getProp description ../language }}</p>
</li>
{{/forEach}}
</ul>

{{>liste-cat category='ondes' }}
