---
id: galerie

icon: image

title:
  fr: Galerie de photos
  en: Photo Gallery

subtitle:
  fr: "Photographies des ondes Martenot"
  en: "Photographs of the Ondes Martenot"

categories: ondes

scripts:
- '/assets/scripts/slider.js'

couverture: cvr6.jpg

lang: <%= language %>
---

<div class="slider" id="slider">
  <div class="inner-slider">
    {{#forEach images}}
    {{#is gallery true }}
    
    <figure class="figure-slider">
      <button class="btn btn-pilly btn-pilly--sm btn-controls-slider toggle-slider"><span class="icon icon-plus"></span></button>
      <img class="b-lazy" src="{{ baseurl }}/assets/img/{{ url }}" data-src-small="{{ baseurl }}/assets/img/sm/{{ url }}"  alt="{{getProp title ../../language }}" />
      <figcaption class="description-slider">
        <h5>{{getProp title ../../language }}</h5>
        <p>{{getProp description ../../language }}</p>
      </figcaption>
    </figure>
    {{/is}}
    {{/forEach}}
  </div>
  <button class="btn btn-pilly btn-controls-slider" id="slider-previous"><span class="icon icon-angle-left"></span></button>
  <button class="btn btn-pilly btn-controls-slider" id="slider-next"><span class="icon icon-angle-right"></span></button>
</div>

<ul id="bullets-slider" class="bullets-slider"></ul>

<p class="reference" id="slider-info">{{i18n 'instructions_galerie' }}</p>

{{>liste-cat category='ondes' }}
