---
id: video

icon: video

title:
  fr: Vidéo
  en: Video

subtitle:
  fr: "Capsules vidéo des ondes Martenot"
  en: "Short demonstrations of the Ondes Martenot"

categories: ondes

notes:
- id: 1
  position: "bottom-left"

couverture: cvr6.jpg

lang: <%= language %>
---

{{i18n 'video_p1' }}

<p class="text-center"><img src="{{link '/assets/img/video.png' }}" alt="Video" /></p>

{{>liste-cat category='ondes' }}
