<!doctype html>
<html lang="{{ language }}" class="no-js">
  {{>head }}
  <body>
    
    {{>header }}
    
    <main role="main" class="main-page">
      
      {{#each page.notes}}
      <div class="deco-notes deco--{{ this.position }} icon  icon-note-{{ this.id }} no-phone" role="img"></div>{{/each}}
      
      <article role="article" class="container container--article article-wrap">
        {{>header-article}}
        <!-- CONTENT -->
        
        {{#markdown}}
        {{>body }}
        {{/markdown}}
        
      </article>
    </main><!-- /Main Column -->
    {{>footer }}
    <a id="btn-top" class="btn-pilly" data-scroll href="#header-page" title="{{i18n 'haut_page' }}"><span class="icon icon-angle-up"></span></a>

    <script>
(function(head) {
  // Custom scripts
  head.load([
    '{{ baseurl }}/assets/scripts/main.js'
    {{#if page.scripts}}{{#each page.scripts}}
    ,'{{ this }}',
    {{/each}}{{/if}}], function() {
    console.log('Loaded scripts.');
  });
})(head);
    </script>
  </body>
</html>