// Scrollbar
// -----------------------------------------------

// only works in webkit browsers

::-webkit-scrollbar {
  width:8px;
  height:8px;
}

::-webkit-scrollbar-track {
  background:#444;
}

::-webkit-scrollbar-thumb {
  background:#222;
  border-radius:4px;
}

::-webkit-scrollbar-thumb:hover {
  background:#111;
}