// Theme - Large screens
// -----------------------------------------------

@media screen and (min-width: $breakpoint-lg) {

  .cover--header {
    top: -100px;
  }
  
  .slider {
    height: 453px;
  }

}
