// Theme - Tablet
// -----------------------------------------------

@include mquery($breakpoint-tablet) {


  #toggle-nav {
    display: block;
  }

  .no-js #toggle-nav {
    display: none;
  }

  .navbar {
    //overflow: hidden;
    //max-height: $height-navbar;

    &.open {
      //max-height: $height-navbar * 6; // number of nav elements + 1 = 6

      .nav-collapse {
        // height is set dynamicall w/ js
        @include opacity(1);
        @include transition-delay(0s);
        //@include animation(slideInTop .3s);
        visibility: visible;

      }
    }

    .container {
      max-width: none;
      @include horizontal-padding(0);
    }

    .nav-collapse {
      @include transition(opacity .3s ease, visibility 0s linear .3s);
      @include opacity(0);
      position: absolute;
      visibility: hidden;
      z-index: $z-index-tooltip;
      top: 100%;
      right: 0;
      width: 100%;
      background-color: $navbar-background-dropdown;

      > li {
        // stack the `li`s
        float: none;
        width: auto;
        border-bottom: 1px solid lighten($gray-darker, 5%);

        &.dropdown {
          .menu-dropdown {
            visibility: inherit;
            position: static;
            opacity: 1;

            > li {
              
              > a {
                text-align: right;
                font-size: $font-size-sm;

                &:hover {
                  background-color: transparent;
                }

                &:after {
                  display: none;
                }
              }
            }
          }
        }

        > a {
          text-align: right;
          padding: $spacing $spacing;
          width: 100%;
          box-shadow: -100px 0px 0px 0px transparent inset;

          &:hover {
            box-shadow: -4px 0px 0px 0px $color-link inset;
          }
        }
      }
    }
  }

  .cover--header {
    max-height: 200%; // set max-height on smaller screens
    width: auto;
    max-width: 160%; // don't allow too much overflow
    height: auto;
  }

  .reference {
    margin-left: $spacing;
  }


  .slider {
    height: 300px;

    .btn-controls-slider{
      &.btn-pilly {
        @include square($size-btn-pilly-sm);
        line-height: $size-btn-pilly-sm;
      }
    }

    #slider-previous {
      left: $spacing-xs;
    }

    #slider-next {
      right: $spacing-xs;
    }
  }
}
