// Theme - Desktop
// -----------------------------------------------

.reference {
  padding: $spacing-lg;
  background: $gray-lighter;
  border-left: 4px solid lighten($color-primary, 10%);
  margin: $spacing 0;
  text-align: left; // remove justified text
}

.discography-sprite {
  height: 100px;
  width: 100px;
  background-image: url($baseUrl + '/assets/img/discography-sprite.jpg');
  background-repeat: no-repeat;
  //background-size: cover;
}

#belles-eaux {
  background-position: top;
}

#recital {
  background-position:50% 16.667%;
}

#arraymusic {
  background-position:50% 33.333%;
}

#ondes {
  background-position:center;
}

#miniatures {
  background-position:50% 66.667%;
}

#wysch {
  background-position:50% 83.333%;
}

#eom {
  background-position:bottom;
}

// Notes

.deco-notes {
  font-size: $font-size-notes;
  color: $gray-light;
  position: absolute;
  z-index: -1;

  &.icon-note-all {
    font-size: $font-size-notes * 1.5;
    color: $gray-dark;
  }
}

.deco--top-left {
  top: $spacing;
  left: $spacing;
}
.deco--top-right {
  top: $spacing;
  right: $spacing;
}
.deco--middle-left {
  top: 45%;
  left: $spacing;
}
.deco--middle-right {
  top: 45%;
  right: $spacing;
}
.deco--bottom-left {
  bottom: $spacing;
  left: $spacing;
}
.deco--bottom-right {
  bottom: $spacing;
  right: $spacing;
}

// Buttons
.btn {
  @include inline-block;
  @include border-radius(3px);
  padding: $spacing-xs $spacing-sm;
  border: 0;
  background: transparent;
  user-select: none;
}

.btn--link {
  background-color: $color-link;
  color: check-background($color-link);
}

.btn--sm {
  padding: 3px $spacing-xs;
  font-size: $font-size-sm;
}

.btn-pilly {
  @include square($size-btn-pilly);
  @include border-radius(50%); // circle
  @include opacity(0.7);
  line-height: $size-btn-pilly;
  padding: 0;
  background-color: #fff;
  color: $gray-darker;
  text-align: center;
  cursor: pointer;

  &:hover, &:focus {
    @include opacity(1);
  }

  .icon {
    vertical-align: middle;
  }
}

.btn-pilly--sm {
  @include square($size-btn-pilly-sm);
  line-height: $size-btn-pilly-sm;
  font-size: $font-size-sm;
}

//.btn--primary {
//	background-color: $color-primary;
//	color: check-background($color-primary);
//}
//
//.btn--link {
//	background-color: $color-link;
//	color: check-background($color-link);
//}

#btn-top {
  @include transition(opacity .5s);
  @include opacity(0);
  // translateZ removes painting for each frame
  // because of position: fixed
  @include transform(translateZ(0));
  position: fixed;
  display: block;
  bottom: 20px;
  right: 20px;
  pointer-events: none;
  //display: none; // revealed w/ js
  z-index: $z-index-tooltip;

  &.scrolled {
    @include opacity(0.7);
    pointer-events: auto;

    &:hover {
      @include opacity(1);
    }
  }
}

.links {
  margin:0;
  padding:0 0 0 30px;
  line-height:180%;
  color:#888;
  background:#ededed;
  border-top:6px solid #1A8CA3;
}

.links li {
  padding:5px 3px;
}

// Email labels
.text--showcase {
  padding: $spacing $spacing-xs;
  position: relative;
  margin: $spacing auto;
  width: 220px;
  color: $gray-dark;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  text-align: center;
  cursor: text;

  &:before,
  &:after{
    @include transition(all .3s);
    position: absolute;
    @include opacity(0);
    color: $color-link;
  }

  &:before {
    content: '[';
    left: 20px;
  }

  &:after {
    content: ']';
    right: 20px;
  }

  &:hover:before {
    left: -5px;
  }

  &:hover:after {
    right: -5px;
  }

  &:hover:before,
  &:hover:after {
    @include opacity(1);
  }
}

.main-page {
  position: relative;
}

.container--article {
  @include box-shadow(0 2px 4px rgba(0,0,0,.3));
}

.well {
  //@include border-radius(3px);
  //margin: $spacing-lg 0;
  //padding: $spacing-sm;
  //background-color: $gray-lighter;
  //color: $gray-dark;
  //border: 1px solid $gray-light;
  
  //ul {
  //  padding-left: 1em;
  //}
}

.label {
  color: $gray;
  font-family: $font-family-heading;
}

// EVENEMENT 2015
.bg--primary {
  background-color: $color-primary;
  color: #fff;
}
