// Theme - Phone
// -----------------------------------------------
@include mquery($breakpoint-phone) {

  h1, .h1 { font-size: $h1 * 0.7; }

  h2, .h2 { font-size: $h2 * 0.7; }

  h3, .h3 { font-size: $h3 * 0.75; }

  h4, .h4 { font-size: $h4 * 0.8; }

  h5, .h5 { font-size: $h5 * 0.8; }

  h6, .h6 { font-size: $h6 * 0.8; }

  .cover--header {
    max-height: 160%; // set max-height on smaller screens
    max-width: 180%; // allow a certain overflow to cover the  height
  }

  .slider {
    height: 210px;
  }

}
